# Prerequisites
*.d
*.exp
*.ilk
*.pdb

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.out
*.app

# Folders
.vs/
src/game/client/Debug_sdk/
src/game/client/Release_sdk/
src/game/server/Debug_sdk/
src/game/server/Release_sdk/
src/game/client.dll
src/game/server.dll

game/source2011/bin/client.lib
game/source2011/bin/server.lib